<div class="design-thumbnail" data-id="<%= design.id %>">
	<div class="design-img"><img src="assets/<%= design.get('design_img') %>"></div>
	<div class="design-information">
		<%= design.escape('title') %><br>
		<i>By <%= designer.escape('name') %> </i><br>
		<b><%= designPreOrders %> preorders</b>
	</div>
</div>