<div class="challenge-container" data-id="<%= challenge.id %>">
 <div class="challenge-img"><img src="assets/<%= challenge.escape('background_img') %>"></div>
	<div class="challenge-text">
	<div class="panel-heading">
			<h3 class="panel-title"><%= challenge.escape('name') %></h3>
	</div>
	<div class="panel-body">
		Category: <%= challenge.escape('category') %><br>
		Ends: <%= challenge.escape('end_date') %>
	</div
	</div>
</div>

