<!DOCTYPE html>
<html>
<head>
  <title>WeDesign</title>
	<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
	<script>
	  filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
	</script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	

</head>
<body>

<% if flash[:errors] %>
	<div class="alert alert-danger" role="alert">
  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  <%= flash[:errors].join("<br>").html_safe %>
	</div>
<% end %>

<% if logged_in? %>
		<%= render partial: "layouts/header" %>
<% else %>
		<div id="catwalk-background"><img src="/assets/empty-catwalk.png" id="catwalk"></div>
<% end %>
<%= yield %>

</body>
</html>
